<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<!-- apache CXF webservice 支持 -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	<!-- 定义具体实现的 Bean ，这个 Bean 的定义与 Spring 普通的 Bean 定义是一样的 -->
	<bean id="wxMsgServiceImpl" class="com.xincheng.webservice.soap.msg.impl.WXMsgServiceImpl" />
	<!-- 通过 CXF 提供的 <jaxws:server> 标签，将定义的 Bean 暴露出去成为 Web Service 服务 -->
	<!-- serviceClass = 接口类 -->
	<jaxws:server id="wxMsgService"
		serviceClass="com.xincheng.webservice.soap.msg.WXMsgService" address="/wxMsgService">
		<jaxws:serviceBean>
			<ref bean="wxMsgServiceImpl" />
		</jaxws:serviceBean>
	</jaxws:server>
</beans> 